#wrapper{
max-width:1400px;
margin:0 auto;
padding: 1em;
}

body{
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #decea9;
}

.card{
  position: relative;
}



h2{
  margin:0;
  position:absolute;
  top: 10%;
  left:25%;
  color: #c2c0b4;
  font-size: 70px;
  font-weight: bold;
}

.lead{
  width: 600px;

}


ul{
  list-style-type:none;
  padding:0;
  display:grid;
  grid-template-columns: repeat(auto-fill,minmax(1200px,1fr));
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

ul li{
  text-align:center;
  color:white;
  background-color: #b89546;
  padding: 2em;
  transition:
    box-shadow .5s ease-in,
    transform .5s ease-in;
}

ul li:hover{
  background-color:#b8a440;
  box-shadow:5px 5px 20px #999;
  transform: translate(-3px);
}

ul li a{
  color: #fff;
  text-decoration: none;
}

ul li a:hover{
  color: #9e781e;
}

@media (min-width:768px){
 .ul
   {grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
     }
}
