body{
  font-family: 'Roboto', sans-serif;
  line-height: 1.2em;
  background-color: #272727;
}

#wrapper{
max-width:1400px;
margin: 0 auto;
}

header{
  background:
  linear-gradient(90deg, rgba(0,0,0,1) 0, rgba(0,0,0,1) 300px, rgba(255,255,255,0) 500px),
  url(images/rickandmorty.jpg) right top no-repeat;
  padding: 2em;
}


.lead{
  color: #fff;
  width: 300px;
}

h1 img{
  max-width: 90%;
}

header button{
  background-color: #02A0B6;
  background-image: url(images/play-arrow.gif);
  background-repeat: no-repeat;
  background-position: left;
  border: none;
  color: #fff;
  padding: 12px;
  padding-left: 25px;
  border-radius: 5px;
  text-transform: uppercase;
}

p{
  margin-bottom: 1em;
  color: #fff;
}

nav{
  background-color: #488551;
  padding: 10px;
  margin-bottom: 2em;
}

nav li{
  display: inline;
  padding-left: 1em;
  padding-right: 1em;
}

nav a{
  color: #fff;
  text-decoration: none;
}

nav a:hover{
  color: #c7d93d;
}

.col{
  width: 50%;
  color: #fff;
}

.col-left{
  float: left;
}

.col-right{
  float: right;
}

footer{
  clear: both;
  color: #fff;
}

h2{
  font-size: 2em;
  margin-bottom: 1em;
  color: #fff;
}

h3{
  font-weight: bold;
  color: #fff;
}

main{
  margin-bottom: 1em;
}

/* episode page */

.episode-card{
  width:20%;
  padding:5px;
  border-radius: 10px;
  margin:0.5em;
  flex: 1 1 auto;
}

.img-responsive{
  width:100%;
}

.episodes{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width:480px){
  .episode-card{
    width: 48%;
  }

  nav li{
    display:block;
    border right:0;
    border-bottom:solid 1px white;
    padding: 1em;
  }

  nav{
    padding:0;
  }
}
